h1 {
    text-align: center;
    color: navy;   
    text-shadow: white 2px 2px;
}

ul {
    list-style-type: none;
    text-align: center;
    color: navy;   
}

h2 {
    text-decoration: underline;
    text-align: center;
    color: navy;   
    text-shadow: white 2px 2px;
}
#home {
    background: rgb(229, 232, 235);
    height: 30px;
    width:100px;
    position: absolute;
    top: 10px;
    left: 50px;
    padding:10px;
    text-align:center;
    font-size: 16pt;
}

#home:hover {
    background: navy;
    color: white;
    cursor: pointer;
}

#home:active {
    background:lightgray;
    color: navy;
    cursor: pointer;
}

.navbar {
    font-family: serif;
    color: navy;
    font-size: 16pt;
    text-align: center;
    line-height: 2.5;
}
#contact {
    background: rgb(229, 232, 235);
    height: 30px;
    width:50px;
    position: absolute;
    top: 10px;
    left: 150px;
    padding:10px;
}

#contact:hover {
    background: navy;
    color: white;
    cursor: pointer;
}

#info:active {
    background:lightgray;
    color: navy;
    cursor: pointer;
}
#work {
    background: rgb(229, 232, 235);
    height: 30px;
    width:50px;
    position: absolute;
    top: 10px;
    left: 220px;
    padding:10px;
}

#work:hover {
    background: navy;
    color: white;
    cursor: pointer;
}

#work:active {
    background:lightgray;
    color: navy;
    cursor: pointer;
}